<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154425542183-cr0epudnja2seegeo2rjqrdps3ng78ke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154425542183-cr0epudnja2seegeo2rjqrdps3ng78ke</string>
	<key>API_KEY</key>
	<string>AIzaSyBTofU3GNIzCd7RJ5eqBYOe_N4i3s4Zr4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>154425542183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.poddubny.SwiftUIToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-a45c3</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-a45c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154425542183:ios:06695a43558fab61ddb002</string>
</dict>
</plist>